html{
    background-color: rgb(255, 254, 254);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav{
    overflow: hidden;
    background-color: rgb(200, 205, 231);
    opacity: 0.5;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.topNav a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px 14px 16px;
    font-size: 17px;
    text-decoration: none;

}

.topNavRight{
    float: right;
}

.topNav a.active{
    background-color: rgb(74, 226, 176);
    color: #ffffff;
}

.topNav a:hover{
    background-color: #ffffff;
    color: black;
}
.logo {
    float: left;
    width: 45%;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/logo.png);
    background-position: center;
    background-size: cover;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(54, 64, 172);
    text-align: justify;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#ffffff;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.text{
    padding-left: 2em;
    padding-right: 2em;
}

.imgTextOverlay{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.imgTextOverlay img{
    width: 100%;
}

.bottomLeft{
    position:absolute;
    bottom: 20px;
    left: 16px;

}

.topLeft{
    position: absolute;
    top: 8px;
    left: 16px;
}

.bottomRight{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.topRight{
    position:absolute;
    top: 8px;
    right: 16px;

}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#filters{
    /*filter: grayscale(100%);*/
    /*filter: sepia(100%);*/
    filter: blur(2px);
}

#filters:hover{
    filter: none;
}

.container{
    position: relative;
    width: 50%;
}

.image{
    display:block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: aquamarine;
}

.container:hover .overlay{
    opacity: 1;
}

.overlayText{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(255, 160, 101);
    
}

.flexContainer3{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: aquamarine;
}

.flexContainer4{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(211, 77, 77);
}
.flexContainer2{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(128, 237, 201);
}

.flexItem2{
    padding: 20px;
    flex: 50%;
}

.flexItem2 img{
    width: 100%;
}

.flexItem3{
    padding: 10px;
    flex: 30%;
}

.flexItem3 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width= 800px){
    .flexContainer{
        flex-direction: column;
    }
}
.headerFlex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    height: 500px;
    padding: 3em;
    font-family: 'portersansblock';
}
.headerFlex2{

    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    height: 220px;
    padding: 3em;
    font-family: 'portersansblock';
}
.headerSection{
    background-image: url(../assets/homePageHeader.png);
    height: 100vh;
    background-size: cover;

}
.headerSection2{
    background-image: url(../assets/headerbackBack.png);
    height: 60vh;
    background-size: cover;

}
.headerLine{
    background-color: purple;
    height: 70px;
    background-size: cover;
}
@font-face{
    font-family: 'portersansblock';
    src:url(../assets/porter-sans-inline-block-webfont.woff) format("woff");
}
.button-group{
    /* width: 400px; */
    height: 50px;
   }

.button{
    width: 225px;
    height: 40px;
    border: 2px solid #ad2bad;
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
    margin-right: 3%;
    font-weight: bold;
    margin-top: 30px;
    float: left;
    background-color: aqua;
}
.normal{
    color: white;
}
.normal:hover {
    background-color: #ad2bad;
    color: white;
    border: 2px solid #2b2b2b;
    padding-top: 5px !important;
    cursor: pointer;

}